<!DOCTYPE html>
<html data-ng-app="factoryApp">
<head>
<meta charset="ISO-8859-1">
<title>Factory Example</title>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
<script src="../js/factory.js"></script>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body data-ng-controller="factoryController">
	<form action="POST">
		<label for="useName">User Name:</label> <input type="text"
			data-ng-model="userName" name="userName"> <br /> <label
			for="password">Password:</label> <input type="password"
			data-ng-model="password" name="password"> <br> <input
			type="button" data-ng-click="login()" value="Login" />
	</form>

	<table>
		<thead>
			<tr>
				<td>First Name</td>
				<td>Last Name</td>
				<td>EMail</td>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="user in users">
				<td>{{user.firstName}}</td>
				<td>{{user.lastName}}</td>
				<td>{{user.email}}</td>
			</tr>
		</tbody>
	</table>
</body>
</html>